body {
    font-family: 'Catamaran', sans-serif;
    background-color: #fcfcff;
    margin-left: 150px;
    margin-right: 150px;
    
}

a {
    color: #3899d1;
    text-decoration: none;
    background-color: transparent;
}
  
.wireframe {
    border: 4px solid #ddd; 
}
a:hover {
color: #8830db;
text-decoration: underline;
}

a:active {
    color: #222222;
    text-decoration: underline;
    }

.nav {
    margin-top:50px;
    margin-right:100px;

}
.navbar-light{
    color: black;
}

h1 {
    margin-top:50px;
}

h2 {
    color: #848482;
    font-size: 1.4em;
    /* margin-top:50px; */
}
h5 {
    color: #848482;
    font-size: 1.1em;
    margin-top:30px;
}

h3 {
    font-size: 1.4em;
    color: #848482;
    margin-top:70px;
}

h4 {
    font-size: 1.8em;
    margin-top:50px;


}
.projects {
    font-size: 1.4em;
    color: #848482;
    margin-top:15px;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.nav-item {
    font-size: 1.2em;
    color: #222222;

}

.nav{
    margin-right:-10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
/* Create four equal columns that sits next to each other */
.column {
flex: 50%;
max-width: 50%;
padding: 0 6px;
}

.column img {
margin-top: 8px;
vertical-align: middle;
width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
.column {
    flex: 50%;
    max-width: 50%;
}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
    flex: 100%;
    max-width: 100%;
}
}̦

p {
    margin-left : -15px;
}




