body {
  margin: 0;
  background-color: #9DB0C2;
  color: #241C27;

}
table, th, td {
  border: 1px solid black;
}


h2 { 
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;

}
h3 { 
  display: block;
  font-size: 1em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Poppins', sans-serif;

}

p {
  font-family: 'Poppins', sans-serif;
}

ul.list-style {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #648399;
  position: fixed;
  height: 100%;
  overflow: auto;
}


li a {
  display: block;
  color: #F7F5F0;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #2DC1DD;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

a:visited {
  color: #F7F5F0;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:focus {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: purple;
  background-color: transparent;
  text-decoration: underline;
}